<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    
    <add name="NOHA_ADO" connectionString="Data source=DSP-17746\SQLEXPRESS;initial catalog=masterDBAC;user id=sa;password=a1;" providerName="System.Data.SqlClient" />
    
  </connectionStrings>

  <appSettings>
    <add key="MaxAge" value="5" />
    <add key="DelAge" value="24" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>